Package: kodi-openbox
Version: 1.0.1
Section: base
Priority: optional
Architecture: all
Depends: openbox, kodi
Maintainer: Luis Finke <luisfinke@gmail.com>
Description: An xsession that runs Kodi Media Center on top of an Openbox session

